body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

.heading {
	font-size: 18pt;
	font-weight: 300;
}

h2 {
	text-decoration: underline;
}

img {
	max-width: 300px;
}

#imgself {
	border: 2px solid lightskyblue;
	border-radius: 20px;
}

ul {
	line-height: 2rem;
	list-style: inside;
	
}

#career {
	line-height: 2rem;
	text-indent: 33px;
}

.style-btn {
	background-color: rgb(225, 225, 23);
	border: none;
	border-radius: 12px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	padding: 16px;
}

.style-btn:hover {
	background-color: black;
	color: white;
}
